name: "Build & Test"
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    paths-ignore:
      - 'docs/*'
      - '*.yml'
      - '*.md'
      - 'LICENSE'

jobs:  
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    steps:
      - name: "Cancel similar actions in progress"
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: "Setup Arturo"
        uses: arturo-lang/setup-arturo@main
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Checkout"
        uses: actions/checkout@main
        with:
            submodules: recursive

      - name: Run unit tests
        run: |
          arturo -v
          arturo -p install unitt
          unitt