name: "Build & Test"
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    paths-ignore:
      - 'docs/*'
      - '*.yml'
      - '*.md'
      - 'LICENSE'

jobs:  
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
            - {name: "Linux (amd64)",   os: ubuntu-latest,  shell: bash}       
            - {name: "macOS (amd64)",   os: macos-12,       shell: bash}       
            - {name: "macOS (arm64)",   os: macos-latest,   shell: bash}       
            - {name: "Windows (amd64)", os: windows-latest, shell: "msys2 {0}"}
    
    defaults:
        run:
            shell: ${{ matrix.shell }}
    steps:
      - name: "Cancel similar actions in progress"
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: "Setup Arturo"
        uses: arturo-lang/arturo-action@main
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Checkout"
        uses: actions/checkout@main
        with:
            submodules: recursive

      - name: Run unit tests
        run: |
          pwd
          ls
          arturo -v
          arturo tests/tests.art